.App {
  text-align: center;
}


.ProductImage {
  max-width: 1200px;
  width: 100%;
  margin: 50px auto;
}

.ProductDetails {
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

.ProductDetails .Box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Box .Row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.Box .Row h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#price {
color: crimson;
}

.Options button {
  margin-top: 10px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
