.App {
  text-align: center;
}

.navbar-custom{
  background-color: midnightblue;
}

.navbar-login {
  background-color: white/*darkslateblue*/;
  margin-left: 20px;
  border-radius: 5px;
}

.navbar-login:hover {
  background-color: lightblue/*darkslateblue*/;
  margin-left: 20px;
  border-radius: 5px;
}

.ProductImage {
  float: left;
  max-width: 1200px;
  width: 500px;
  height: 500px;
  margin: 0px 45px;
}

.ProductImage img {
  width: 100%;
}

.ProductDetails {
  justify-content: space-around;
  flex-wrap: wrap;
}

.ProductDetails .info{
  padding: 20px 0px;
}

.ProductDetails .Box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.Box .Row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-right: 50px;
}

.Box .Row p {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.info .h4, .info .h5{
  font-weight: normal;
}

#price {
  color: white;
  background-color: crimson;
  padding: 1px 10px;
}

.Options button {
  margin-top: 10px;
}

.MainBody {
  padding: 15px;
}

.Card {
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.CardBody {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
}

.Avatar {
  margin-left: 45px;
  margin-right: 45px;
  width: 200px;
  height: 200px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
